body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  background-image: url("../images/pattern1.png");
  background-position: top right;
  background-repeat: no-repeat;
}

body a:hover {
  color: #faa1d5;
}

.primary-color {
  background-color: #358873;
}

.primary-color-t {
  color: #358873;
}

.secundary-color {
  color: #333232;
}

.bold {
  font-weight: bold;
}

.navbar-logo {
  width: 70%;
  margin-left: 10px;
}

.navbar-logo2 {
  width: 100%;
}

.main-nav i {
  color: white;
  font-size: 14px;
}

.content-section {
  background-image: url("../images/pattern2.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* DETAILS */

.specification-list li::before {
  content: "•";
  color: #358873;
  margin-right: 10px;
}
