body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  background-image: url("../images/pattern1.png"), url("../images/pattern2.png");
  background-position: top right, left bottom;
  background-repeat: no-repeat, no-repeat;
}

body a:hover {
  color: #faa1d5 !important;
}

.primary-color {
  background-color: #a1dad4;
}

.primary-color-2 {
  background-color: #a1dad4;
}

.primary-color-t {
  color: #317256;
}

.secondary-color {
  color: #333232 !important;
}

.bold {
  font-weight: bold;
}

.fa-size {
  font-size: 25px !important;
}

.navbar-logo {
  width: 70%;
  margin-left: 10px;
}

.navbar-logo2 {
  width: 100%;
}

.main-nav i {
  color: white;
  font-size: 14px;
}

/* DETAILS */

.specification-list li::before {
  content: "•";
  color: #358873;
  margin-right: 10px;
}
